body {
  margin: 0px;
  background-image: url("/background.jpg");
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#__next {
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}

button {
  font-family: unset;
  height: 50px;
  min-width: 180px;
  border: 0px;
  padding: 0px 20px;
  background-color: #343434;
  color: #E2E3E5;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
input, textarea {
  background: #6A6A6A;
  border: 0px;
  border-radius: 5px;
  resize: none;
  min-height: 50px;
  width: 100%;
  color: #FFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  outline: none;
  padding: 15px;
  font-family: unset;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #E2E3E5;
}